<form action="/contactMsj" method="post" class="js-form form mb-4">
    <div class="form-group">
        <label class="form-label " for="name">Nombre</label>
        <input type="text" id="name" class=" form-control  " autocorrect="off" autocapitalize="off" name="name">
    </div>
    <div class="form-group ">
        <label class="form-label " for="email">Email</label>
        <input type="email" id="email" class=" form-control  " autocorrect="off" autocapitalize="off" name="email">
    </div>
    <div class="form-group ">
        <label class="form-label " for="phone">Teléfono</label>
        <input type="tel" id="phone" class=" form-control  " autocorrect="off" autocapitalize="off" name="phone">
    </div>
    <div class="form-group ">
        <label class="form-label " for="message">Mensaje</label>
        <textarea id="message" class="form-control form-control-area  " autocorrect="off" autocapitalize="off"
            name="message" rows="7"></textarea>
    </div>
    <button class="btn btn-primary btn-block" type="submit" value="Enviar" name="contact">
        Enviar
    </button>
</form>